<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="File" value="db.mdf"/>
    <add key="Local" value="C:\Projetos\wfaCaminhao\wfaCaminhao\bin\Debug" />
    <add key="Destino" value="C:\Backup" />
  </appSettings>
</configuration>